::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #ff00cc, #3333ff, #00f0ff);
  border-radius: 1ex;
  box-shadow: 0 0 10px #ff00cc;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-corner {
  background: #1a1a1a;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
}
